*{
    padding: 0px;
    margin: 0px;
}
.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  color: blueviolet;
}
.nav-list{
  list-style: none;
  text-decoration: none;
}
